// Body
$body-bg: #f5f8fa;
$dark: #1B1C1D;

// Typography
$font-family-sans-serif: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Color schemes
$gewis: #d40000;

$gepwnage: #013370;
$gepwnage-secondary: #ffff00;

$primary: $gepwnage;

$theme-colors: () !default;
$theme-colors: map-merge((
        "gewis": $gewis,
        "gepwnage": $gepwnage,
        "gepwnage-secondary": $gepwnage-secondary,
), $theme-colors);
